<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- lib -->
    <script src="../../lang/lang.js"></script>
    <script src="../../core/event/event.js"></script>
    <script src="../../core/dom/query.js"></script>

    <script src="../../components/Component.js"></script>

    <script src="constructor/Cell.js"></script>
    <script src="constructor/WebExcel.js"></script>
    <script src="constructor/Model.js"></script>
    <script src="constructor/WebExcelModel.js"></script>
    <link rel="stylesheet" href="web-excel.css" />

</head>
<body>

</body>
<script type="text/javascript">

    var webExcel = new WebExcel({

        parent: document.querySelector('body'),

        model: new WebExcelModel(10)
    });

    webExcel.render();
</script>
</html>
