<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../lang/lang.js"></script>
    <script src="../../core/io/template.js"></script>
    <script src="../../components/Component.js"></script>
    <script src="WebExcel.js"></script>
    <script src="Model.js"></script>
    <script src="WebExcelModel.js"></script>
    <link rel="stylesheet" href="web-excel.css" />

</head>
<body>

</body>
<script type="text/javascript">

    var webExcel = new WebExcel({

        parent: document.querySelector('body'),

        model: new WebExcelModel()
    });

    webExcel.render();
</script>
</html>
